<?xml version="1.0" encoding="utf-8"?>
<resources>
    <string name="spotify_client_id">ENTER_YOUR_CLIENT_ID_HERE</string>
    <string name="spotify_client_secret">ENTER_YOUR_CLIENT_SECRET_HERE</string>
    <string name="redirect_uri">ENTER_YOUR_REDIRECT_URI_HERE</string>
</resources>